n8n-workflows/workflow-2-update-state.json
{
  "name": "Update Instance State",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "PUT",
        "path": "update-instance",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-update-state",
      "name": "Webhook",
      "webhookId": "update-instance-webhook"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "instances",
        "filterType": "manual",
        "matchingColumns": [
          {
            "column": "document_id",
            "value": "={{ $json.body.documentId }}"
          }
        ],
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "state",
              "fieldValue": "={{ $json.body.state }}"
            },
            {
              "fieldId": "qr",
              "fieldValue": "={{ $json.body.qr }}"
            },
            {
              "fieldId": "qr_loading",
              "fieldValue": "={{ $json.body.qr_loading }}"
            },
            {
              "fieldId": "profile_name",
              "fieldValue": "={{ $json.body.profile_name }}"
            },
            {
              "fieldId": "profile_pic_url",
              "fieldValue": "={{ $json.body.profile_pic_url }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.body.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "supabase-update",
      "name": "Update Instance",
      "credentials": {
        "supabaseApi": {
          "id": "ysios5mnoCtsjxKf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Estado actualizado correctamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [440, 0],
      "id": "respond-update",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Instance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Instance": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
