n8n-workflows/workflow-5-update-webhook.json
{
  "name": "Update Webhook URL",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "update-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-update-webhook",
      "name": "Webhook",
      "webhookId": "update-webhook-url"
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "instances",
        "filterType": "manual",
        "matchingColumns": [
          {
            "column": "document_id",
            "value": "={{ $json.body.documentId }}"
          }
        ],
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "webhook_url",
              "fieldValue": "={{ $json.body.webhook_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [220, 0],
      "id": "supabase-update-webhook",
      "name": "Update Webhook in DB",
      "credentials": {
        "supabaseApi": {
          "id": "ysios5mnoCtsjxKf",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://localhost:4000/api/update-webhook/{{ $json.body.documentId }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"webhook_url\": \"={{ $('Webhook').item.json.body.webhook_url }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "id": "http-update-webhook",
      "name": "Update Backend Webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Webhook actualizado correctamente\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [660, 0],
      "id": "respond-webhook-update",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Update Webhook in DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Webhook in DB": {
      "main": [
        [
          {
            "node": "Update Backend Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Backend Webhook": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
