n8n-workflows/workflow-3-get-qr.json
{
  "name": "Get QR Code",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "get-qr",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-get-qr",
      "name": "Webhook",
      "webhookId": "get-qr-webhook"
    },
    {
      "parameters": {
        "url": "=http://localhost:4000/api/qr/{{ $json.body.clientId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [220, 0],
      "id": "http-get-qr",
      "name": "Get QR from Backend"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"qr\": \"={{ $json.qr }}\",\n  \"state\": \"={{ $json.state }}\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [440, 0],
      "id": "respond-qr",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get QR from Backend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get QR from Backend": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
